<div class="row">
  <div class="col-md-3 col-xs-12">
    <app-user></app-user>
  </div>
  <div class="col-md-9 col-xs-12">
    <app-goals></app-goals>
  </div>
</div>
<div class="row add-goal-section">
  <div class="col-xs-1 col-xs-offset-11">
    <button routerLink="create" id="step4" mat-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div class="row tutorial-section">
  <div class="col">
    <button color="" mat-raised-button (click)="startTutorial()">
      Tutorial guiado
    </button>
  </div>
</div>
<div class="row add-goal-section-mobile">
  <div class="col-xs-2 col-xs-offset-10">
    <button routerLink="create" id="step4" mat-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
