nav a {
  text-decoration: none;
  border-radius: 0;
}

nav a.active {
  border-bottom: 1.5px solid white;
}

.header-toolbar {
  margin-bottom: 25px;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.user-header-img {
  font-size: 40px;
}
