nav a {
  text-decoration: none;
}

nav a.active {
  background: bue;
}

.header-toolbar {
  margin-bottom: 25px;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.user-header-img {
  font-size: 40px;
}
