nav a {
  text-decoration: none;
  border-radius: 0;
}

nav a.active {
  border-bottom: 2px solid white;
}

.header-toolbar {
  margin-bottom: 25px;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.user-header-img {
  font-size: 40px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.nav-menu-button {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav-menu-button {
    display: block;
  }
  .container {
    display: none;
  }

  .tutorial-section {
    display: none;
    color: red;
  }
}
