<mat-toolbar class="header-toolbar" color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row between-xs middle-xs">
        <a routerLink="/">MOMENTUM</a>
        <nav>
          <a mat-icon-button routerLinkActive="active" routerLink="/goals">
            <mat-icon>home</mat-icon>
          </a>
          <a
            mat-icon-button
            routerLinkActive="active"
            routerLink="/notifications"
          >
            <mat-icon id="step5">notifications</mat-icon>
          </a>
          <a mat-icon-button routerLinkActive="active" routerLink="/blog">
            <mat-icon id="step6">article</mat-icon>
          </a>
        </nav>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="user-header-img">account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              Mi Cuenta
            </button>
            <button mat-menu-item>
              <mat-icon>power_settings_new</mat-icon>
              Cerrar Sesión
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
