<div class="row">
  <div class="col-md-3 col-xs-12" *ngIf="reports" >
    <img *ngIf="reportSpinner" [src]="reportSpinner" alt="Loading">
    <app-goal-progress [reports]="reports"  [cause]="cause" ></app-goal-progress>
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="goal-detail-container">
      <img *ngIf="goalSpinner" [src]="goalSpinner" alt="Loading">
      <mat-card *ngIf="goal">
        <mat-card-title>
          <div class="row between-xs middle-xs">
            <h2>{{ goal.name }}</h2>
            <button mat-mini-fab color="primary" routerLink="/">
              <mat-icon >keyboard_backspace</mat-icon>
            </button>
          </div>
        </mat-card-title>
        <mat-card-content>
          <br />
          <div class="row middle-xs between-xs">
            <div class="col-xs-8">
              <p><strong>Me compromento a</strong></p>
              <p>
                {{ goal.description }}
              </p>
            </div>
  
            <button mat-raised-button color="accent" (click)="openDialog()">
              Detalles
            </button>

          </div>


          <br />
          <div class="row middle-xs between-xs">
            <mat-tab-group *ngIf="reports">
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">assignment</mat-icon>
                </ng-template>
                <mat-card *ngFor="let report of reports" >
                  <p><strong>Fecha reporte: </strong>{{ report.date | date }}</p>

                  <div *ngIf="report.successful" class="report-status">
                    <mat-icon class="successful-icon" >check</mat-icon>
                    <span>Reporte Exitoso</span>
                  </div>

                  <div *ngIf="!report.successful" class="report-status">
                    <mat-icon class="failure-icon" >clear</mat-icon>
                    <span>Reporte Fallido</span>
                  </div>
                  

                </mat-card>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">wallpaper</mat-icon>
                </ng-template>
                <div  *ngFor="let report of reports">
                  <mat-card *ngIf="report.successful">
                    
                    <div  class="row beetween-xs middle-xs">
                      <div class="col-xs-6">
                        <img
                          mat-card-image
                          [src]="report.imageUrl"
                          alt="report evidence"
                        />
                      </div>
                      <div class="col-xs-6">
                        <p><strong>{{ report.date | date }}</strong></p>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">comment</mat-icon>
                </ng-template>
                <div *ngFor="let report of reports">
                  <mat-card *ngIf="report.successful">
                    <div class="row beetween-xs middle-xs">
                      <div class="col-xs-6">
                        <p><strong>{{ report.date | date }}</strong></p>
                      </div>
                      <div class="col-xs-6">
                        <p>{{ report.comment }}</p>
                      </div>
                    </div>
                  </mat-card>
                </div>
  
   
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
