.goal-detail-container {
  padding: 20px;
  margin: 10px 0;
}

.row {
  margin-bottom: 5px;
}

mat-card {
  padding: 25px;
}

.mat-card-image {
  width: 200px;
}

div p {
  padding: 0;
  margin: 2px 0;
  text-align: justify;
}

div {
  padding: 0;
}

.report-status{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.successful-icon{
  color: blue;
}

.failure-icon{
  color: red;
}
