<div class="container-fluid">

  <div class="row center-lg center-md center-xs login-container">
    <div class="col-lg-6 col-md-8 col-xs-12">
      <form [formGroup]="signupForm" (ngSubmit)="signupUser($event)">
        <mat-card>
          <h1>Registrarse</h1>
          <mat-card-content>
            <div class="row">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Nombre y Apellido"
                  formControlName="name"
                  type="text"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Correo electrónico"
                  formControlName="email"
                  type="email"
                />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Género</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="male">Masculino</mat-option>
                  <mat-option value="female">Femenino</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span class="invalid-text" *ngIf="invalid" >{{ invalidMessage }}</span>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="signupForm.invalid"
            >
              Registrarse
            </button>
            <p>¿Ya tienes una cuenta?<a routerLink="/auth/login" color="primary" mat-button>Inicia Sesión</a></p>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>

</div>

