<mat-horizontal-stepper #stepper>
  <mat-step
    [stepControl]="firstFormGroup"
    errorMessage="Estos campos son requeridos"
  >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Detalla tu meta</ng-template>
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="goalCategory">
                  <mat-option value="Relaciones personales y familia"
                    >Relaciones personales y familia</mat-option
                  >
                  <mat-option value="Hobbies y recreación"
                    >Hobbies y recreación</mat-option
                  >
                  <mat-option value="Desarrollo profesional"
                    >Desarrollo profesional</mat-option
                  >
                  <mat-option value="Salud y estilo de vida"
                    >Salud y estilo de vida</mat-option
                  >

                  <mat-option value="Dinero y Finanzas"
                    >Dinero y finanzas</mat-option
                  >
                  <mat-option value="Educación">Educación</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Nombre de tu meta</mat-label>
                <input
                  matInput
                  placeholder="Ej. Bajar 10 Kilos"
                  formControlName="goalName"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Me comprometo a </mat-label>
                <textarea
                  matInput
                  placeholder="Correr todos los días, mejorar mi dieta"
                  formControlName="goalDescription"
                  rows="15"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
              <img mat-card-image src="/assets/images/goals.png" alt="" />
              <button mat-raised-button color="accent">
                ¿Cómo defino bien una meta?
              </button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            (click)="getFirstGroupValues()"
            [disabled]="firstFormGroup.invalid"
            mat-raised-button
            color="primary"
            matStepperNext
          >
            Siguiente
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="secondFormGroup"
    errorMessage="Estos campos son requeridos"
  >
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Selecciona el período de tu meta</ng-template>
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <mat-form-field>
                <mat-label>Me gustaría reportar</mat-label>
                <mat-select formControlName="reportFrequency">
                  <mat-option value="daily">Diariamente</mat-option>
                  <mat-option value="weekly">Semanalmente</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="dailyReport">
                <mat-form-field>
                  <mat-label>Selecciona el período de tu meta</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matInput formControlName="startDate" matStartDate />
                    <input matInput formControlName="endDate" matEndDate />
                  </mat-date-range-input>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <p>
                  Duración: <strong>{{ totalDailyDays }} días</strong>
                </p>
              </div>
              <div *ngIf="weeklyReport">
                <mat-form-field>
                  <mat-label>Mi compromiso empieza</mat-label>
                  <mat-select formControlName="startingWeekDay">
                    <mat-option
                      *ngFor="let date of startingDates"
                      [value]="date"
                      >{{ date }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <p>Duración de la meta</p>
                  <input
                    formControlName="totalWeeks"
                    class="totalWeeks"
                    matInput
                    type="number"
                  />
                  <strong>semana(s)</strong>
                </mat-form-field>
                <p>
                  Mis día de reporte serán cada: <strong>{{ weekDay }}</strong>
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <img
                class="create-goal-img"
                mat-card-image
                src="/assets/images/calendar.jpg"
                alt=""
              />
              <button mat-raised-button color="accent">
                ¿Qué es un reporte?
              </button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" matStepperPrevious>
            Anterior
          </button>
          <button
            (click)="getSecondGroupValues()"
            [disabled]="secondFormGroup.invalid"
            mat-raised-button
            color="primary"
            matStepperNext
          >
            Siguiente
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Establece una apuesta</ng-template>
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <mat-form-field>
                <mat-label>Tipo de apuesta de mi meta</mat-label>
                <mat-select formControlName="stakeType">
                  <mat-option value="donation"
                    >Donación causa benéfica</mat-option
                  >
                  <mat-option value="noStake"
                    >No quiero involucrar dinero</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <div *ngIf="choosenStake === 'donation'">
                <mat-form-field>
                  <mat-label>Escoge la causa que quieres apoyar</mat-label>
                  <mat-select formControlName="cause" *ngIf="causes">
                    <mat-option *ngFor="let cause of causes" [value]="cause.name">{{
                      cause.name
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label
                    >Ingresa la cantidad de dinero que donarás</mat-label
                  >
                  <span class="dollar-sign">$</span
                  ><input
                    class="quantity"
                    matInput
                    formControlName="quantity"
                    type="number"
                  />
                </mat-form-field>
                <div>
                  <span *ngIf="dailyReport">
                    <strong>
                      ${{ moneyStake }} x {{ totalDailyDays }} días: ${{
                        totalDonation
                      }}
                    </strong>
                  </span>
                  <span *ngIf="weeklyReport">
                    <strong>
                      ${{ moneyStake }} x {{ totalWeeks }} semanas: ${{
                        totalDonation
                      }}
                    </strong>
                  </span>
                  <p class="debit-info" *ngIf="dailyReport">
                    Se te debitará $<strong>{{ moneyStake }}</strong> cada vez
                    que no cumplas con un reporte diario
                  </p>
                  <p class="debit-info" *ngIf="weeklyReport">
                    Se te debitará $<strong>{{ moneyStake }}</strong> cada vez
                    que no cumplas con un reporte semanal
                  </p>
                </div>
              </div>
              <mat-checkbox matInput formControlName="accept"
                >Acepto los términos y condiciones</mat-checkbox
              >
            </div>
            <div class="col-xs-12 col-md-6">
              <img
                class="create-goal-img"
                mat-card-image
                src="/assets/images/kindness.jpg"
                alt=""
              />
              <button mat-raised-button color="accent">
                Conoce todas las causas
              </button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" matStepperPrevious>
            Atrás
          </button>
          <button
            (click)="getThirdGroupValues()"
            [disabled]="thirdFormGroup.invalid"
            mat-raised-button
            color="accent"
          >
            Crear meta
          </button>
        </mat-card-actions>
      </mat-card>
    </form>

    <div></div>
  </mat-step>
</mat-horizontal-stepper>
