<mat-card>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <mat-card-title>
        Crear Causa
      </mat-card-title>
      <form [formGroup]="causeForm" (ngSubmit)="createCause($event)" >
        <mat-card-content>
          <mat-form-field>
            <input
              placeholder="Nombre de la Causa"
              type="text"
              formControlName="name"
              matInput
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Breve descripción de la causa</mat-label>
            <textarea matInput formControlName="description" rows="8" ></textarea>
          </mat-form-field>
          <mat-form-field>
            <input
              placeholder="Fundación o Institución beneficiada"
              type="text"
              formControlName="charityName"
              matInput
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label
              >Número de personas que se pueden unir a la causa</mat-label
            >
            <input matInput formControlName="peopleLimit" type="number" />
          </mat-form-field>
          <mat-form-field>
            <input
              placeholder="Recompensa"
              type="text"
              formControlName="reward"
              matInput
            />
          </mat-form-field>
          <div>
            <input type="file" (change)="uploadFile($event)"/>
          </div>
          <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
          <p class="error-message" *ngIf="errorMessage" >{{ errorMessage }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="causeForm.invalid"
            type="submit" 
            mat-raised-button 
            color="accent">
            Crear causa
          </button>
        </mat-card-actions>
      </form>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 image-container">
      <img
        mat-card-image
        alt="Cause image"
        [src]="urlImage"
      />
    </div>
  </div>
</mat-card>
