<div class="chart-header">
  <mat-card>
    <div class="chart-wrapper">
      <canvas
        baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
      >
      </canvas>
    </div>
    <p><strong>Tasa de éxito: </strong>{{ successRate | number: '1.0-2' }} %</p>
  </mat-card>
  <mat-card *ngIf="cause">
    <img
      [src]="cause.imageUrl"
      [alt]="cause.name"
    />
    <p>
      <strong>Causa apoyada</strong>
    </p>
    <p>{{ cause.name }}</p>
    <button mat-raised-button color="accent">Ver más</button>
  </mat-card>
</div>
