<div class="container-fluid">

  <div class="row center-lg center-md center-xs login-container">
    <div class="col-lg-6 col-md-8 col-xs-12">
      <form [formGroup]="newPasswordForm" (ngSubmit)="requestPassword($event)">
        <mat-card>
          <h1>Actualizar contraseña</h1>
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="Nueva Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Confirmar Contraseña" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <p class="invalid-text" *ngIf="invalid" >{{ invalidMessage }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="newPasswordForm.invalid"
            >
              Recuperar contraseña
            </button>

          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>

</div>

