<div class="profile-header">
  <mat-icon color="primary">account_circle</mat-icon>
</div>
<div class="profile-content" id="step1" *ngIf="user">
  <mat-card>
    <mat-card-title>
      <h2>{{user.name}}</h2>
    </mat-card-title>
    <mat-card-content>
      <div class="about-me">
        <p >
          {{user.about}}
        </p>
      </div>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip color="primary" selected>Metas totales: {{ totalGoals }}</mat-chip>
        <mat-chip color="accent" selected>Metas cumplidas: {{ successfulGoals }}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
