<div class="profile-header">
  <mat-icon color="primary">account_circle</mat-icon>
</div>
<div class="profile-content">
  <mat-card>
    <mat-card-title>
      <h2>Kevin Urgilés</h2>
    </mat-card-title>
    <mat-card-content>
      <div class="about-me">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
          libero commodi minus nulla fugiat repellendus impedit saepe nostrum
          tenetur.
        </p>
      </div>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip color="primary" selected>Metas totales: 21</mat-chip>
        <mat-chip color="accent" selected>Metas cumplidas 10</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
