<mat-card>
  <mat-card-title>
    <div class="row between-xs middle-xs" id="step3">
      <h2>{{ goal.title }}</h2>
      <mat-slide-toggle
        class="example-margin"
        color="primary"
        checked="true"
        disabled="false"
      >
        <mat-icon>public</mat-icon>
      </mat-slide-toggle>
    </div>
  </mat-card-title>
  <mat-card-content>
    <p>Semana {{ goal.currentWeek }}/{{ goal.totalWeeks }}</p>
    <div class="row between-xs middle-xs">
      <mat-progress-bar
        color="primary"
        mode="determinate"
        value="{{ (goal.currentWeek / goal.totalWeeks) * 100 }}"
      ></mat-progress-bar>
      <button mat-mini-fab color="primary">
        <mat-icon routerLink="{{ goal.id }}">arrow_right_alt</mat-icon>
      </button>
    </div>
    <div class="row middle-xs between-xs report-info">
      <p *ngIf="goal.nextReportDate == ''">
        <strong>Actividad Finalizada</strong>
      </p>

      <p *ngIf="goal.nextReportDate != ''">
        Siguiente reporte: <strong>{{ goal.nextReportDate }}</strong>
      </p>

      <button
        *ngIf="goal.nextReportDate == 'Hoy'"
        mat-raised-button
        color="accent"
      >
        Reportar
      </button>
    </div>
  </mat-card-content>
</mat-card>
