<mat-card>
  <mat-card-title>
    <div class="row between-xs middle-xs" id="step3">
      <h2>{{ goal.name }}</h2>
      <button
      *ngIf="reportButton"
      mat-raised-button
      color="accent"
      routerLink="report/{{ goal._id }}"
    >
      Reportar
    </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <p>Fecha de inicio: {{goal.startDate | date}}</p>
    <p>Fecha de fin: {{goal.endDate | date}}</p>
    <div class="row between-xs middle-xs">
      <mat-progress-bar
        color="primary"
        mode="determinate"
        [value]="getPercentage()"
      ></mat-progress-bar>
      <button mat-mini-fab color="primary">
        <mat-icon routerLink="{{ goal._id }}">arrow_right_alt</mat-icon>
      </button>
    </div>
    <div class="row middle-xs between-xs report-info">


      <p *ngIf="!goal.active">
        <strong>Actividad Finalizada</strong>
      </p>

    </div>
  </mat-card-content>
</mat-card>
