<div *ngIf="transaction" >
  <div *ngIf="isDebit">
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon class="remove-icon">remove</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has incumplido tu meta {{ goalName }} el día
          <strong>{{ transactionDate | date }}</strong>. Se te ha debitado ${{transactionAmount}} de tu tarjeta de
          débito.</span
        >
      </div>
    </div>
  </div>
  <div *ngIf="!isDebit">
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon class="add-icon">add</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has cumplido tu meta {{ goalName }}. Se te ha
          enviado un correo con el detalle de tu recompensa.</span
        >
      </div>
    </div>
  </div>
</div>