mat-card {
  margin: 25px 0;
}

form {
  height: 80vh;
}

.spinner {
  display: block;
  margin: 0 auto;
}

.container, .row {
  padding: 0;
  margin: 0;
}

.error-message{
  color: red;
}

.success-message{
  color: blue;
}