<mat-card>
  <mat-card-title>
    Transacciones
  </mat-card-title>
  <mat-card-content>
    <p *ngIf="!transactions">No hay transacciones que mostrar</p>
    <div *ngIf="transactions">
      <app-transaction-description
        *ngFor="let transaction of transactions"
        [transaction]="transaction"
      >
      </app-transaction-description>
    </div>
  </mat-card-content>
  <mat-card-footer *ngIf="transactions">
    <app-transaction-statistics [transactions]="transactions"  ></app-transaction-statistics>
  </mat-card-footer>
</mat-card>
