<mat-card>
  <mat-card-title>
    Transacciones
  </mat-card-title>
  <mat-card-content>
    <p *ngIf="!transactions">No hay transacciones que mostrar</p>
    <div *ngIf="transactions">
      <app-transaction-description
        *ngFor="let transaction of transactions"
        [transaction]="transaction"
      >
      </app-transaction-description>
      <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
    </div>
  </mat-card-content>
</mat-card>
