<mat-card>
  <mat-card-title>
    Transacciones
  </mat-card-title>
  <mat-card-content>
    <p>No hay transacciones que mostrar</p>
    <!-- <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon>add</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has cumplido tu meta <a href="#">Trotar 45 minutos</a>. Se te ha
          enviado un correo con el detalle de tu recompensa.</span
        >
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon>remove</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has incumplido tu meta <a href="#">Comer saludable</a> el día
          <strong>12/06/2020</strong>. Se te ha debitado $5 de tu tarjeta de
          débito.</span
        >
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon>remove</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has incumplido tu meta <a href="#">Comer saludable</a> el día
          <strong>11/06/2020</strong>. Se te ha debitado $5 de tu tarjeta de
          débito.</span
        >
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon>remove</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has incumplido tu meta <a href="#">Hacer ejercicio</a> el día
          <strong>11/06/2020</strong>. Se te ha debitado $7 de tu tarjeta de
          débito.</span
        >
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon>add</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has cumplido tu meta <a href="#">Meditar en la mañana</a>. Se te ha
          enviado un correo con el detalle de tu recompensa.</span
        >
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon>remove</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has incumplido tu meta <a href="#">Comer saludable</a> el día
          <strong>12/06/2020</strong>. Se te ha debitado $5 de tu tarjeta de
          débito.</span
        >
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon>remove</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has incumplido tu meta <a href="#">Comer saludable</a> el día
          <strong>11/06/2020</strong>. Se te ha debitado $5 de tu tarjeta de
          débito.</span
        >
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon>remove</mat-icon>
      </div>
      <div class="col-xs-11">
        <span
          >Has incumplido tu meta <a href="#">Hacer ejercicio</a> el día
          <strong>11/06/2020</strong>. Se te ha debitado $7 de tu tarjeta de
          débito.</span
        >
      </div>
    </div> -->
  </mat-card-content>
</mat-card>
