$color-primary: #3f51b5;
$color-accent: #f55081;

mat-card-title {
  margin-bottom: 15px;
}

mat-card-title a {
  text-decoration: none;
  color: black;
}

mat-card-title:hover a {
  color: $color-primary;
}

.article {
  margin-bottom: 1rem;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like:hover {
  cursor: pointer;
  color: $color-accent;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightslategray;
}

@media (min-width: 600px) {
  .card-content {
    max-width: 90%;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
