<div class="container">
  <div class="row center-xs">
    <div class="col-xs-10">
      <form [formGroup]="passwordForm" (ngSubmit)="changePassword($event)" >
        <mat-card>
          <mat-card-title>Cambiar contraseña</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <input formControlName="currentPassword" matInput type="password" placeholder="Contraseña actual" >
            </mat-form-field>
            <mat-form-field>
              <input formControlName="newPassword" matInput type="password" placeholder="Nueva contraseña" >
            </mat-form-field>
            <mat-form-field>
              <input formControlName="confirmNewPassword" matInput type="password" placeholder="Confirme nueva contraseña" >
            </mat-form-field>

            <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button 
              [disabled]="passwordForm.invalid"
              mat-raised-button
              color="accent" 
              type="submit">
              Actualizar contraseña
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
