<mat-card>
  <mat-card-title>Reportes Pendientes</mat-card-title>
  <mat-card-content>
    <div class="row middle-xs">
      <div class="col-md-4">
        Leer 20 minutos
      </div>
      <div class="col-md-2">
        <button color="accent" mat-raised-button>Reportar</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Historial de Reportes</mat-card-title>
  <mat-card-content>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon color="warn">cancel</mat-icon>
      </div>
      <div class="col-xs-11">
        <strong class="report-date">10/07/2020</strong>
        <span>Leer 20 minutos</span>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon color="primary">check_circle</mat-icon>
      </div>
      <div class="col-xs-11">
        <strong class="report-date">10/07/2020</strong>
        <span>Trotar 45 minutos</span>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon color="primary">check_circle</mat-icon>
      </div>
      <div class="col-xs-11">
        <strong class="report-date">09/07/2020</strong>
        <span>Leer 20 minutos</span>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon color="primary">check_circle</mat-icon>
      </div>
      <div class="col-xs-11">
        <strong class="report-date">09/07/2020</strong>
        <span>Trotar 45 minutos</span>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon color="warn">cancel</mat-icon>
      </div>
      <div class="col-xs-11">
        <strong class="report-date">08/07/2020</strong>
        <span>Leer 20 minutos</span>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon color="primary">check_circle</mat-icon>
      </div>
      <div class="col-xs-11">
        <strong class="report-date">08/07/2020</strong>
        <span>Trotar 45 minutos</span>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon color="warn">cancel</mat-icon>
      </div>
      <div class="col-xs-11">
        <strong class="report-date">07/07/2020</strong>
        <span>Leer 20 minutos</span>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1">
        <mat-icon color="warn">cancel</mat-icon>
      </div>
      <div class="col-xs-11">
        <strong class="report-date">07/07/2020</strong>
        <span>Trotar 45 minutos</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
