
<mat-card *ngIf="reports.length > 0;">
  <mat-card-title>Historial de Reportes</mat-card-title>
  <mat-card-content *ngFor="let report of reports">
    <div class="row middle-xs">
      <div class="col-xs-1" *ngIf="report.successful; else iconCancel">
        <mat-icon color="primary">check_circle</mat-icon>
      </div>

      <ng-template #iconCancel>
        <div class="col-xs-1">
          <mat-icon color="warn">cancel</mat-icon>
        </div>
      </ng-template>

      <div class="col-xs-11">
        <strong class="report-date">{{ report.date }}</strong>
        <span>{{ report.goalId.name }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-spinner></mat-spinner>

