<mat-card class="post" *ngIf="post">
  <mat-card-title>
    <p>{{ post.title }}</p>
    <div *ngIf="edit; else elseBlock" >
      <mat-icon class="edit" (click)="editPost()">edit</mat-icon>
    </div>
    <ng-template #elseBlock>
      <mat-icon class="expand" (click)="openDialog()" >open_in_full</mat-icon>
    </ng-template>
  </mat-card-title>
  <mat-card-content class="card-content">
    <p>
      {{ post.content | blogText }}
    </p>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <p>{{ post.user.name }}</p>
    
    <p>{{ post.date | date }}</p>
    <div *ngIf="edit" >
      <mat-icon (click)="deletePost()"  class="delete" >delete</mat-icon>
    </div>
    <div class="likes" *ngIf="!edit" >
      <mat-icon class="like">favorite_border</mat-icon>
      {{ post.likes }}
    </div>
  </mat-card-footer>
</mat-card>
